{{ if contains "vts" .chezmoi.hostname }}

[lane-legacy]
aws_access_key_id={{ first (splitList ":" (gopass "vts/aws/lane/cli")) }}
aws_secret_access_key={{ last (splitList ":" (gopass "vts/aws/lane/cli")) }}


{{end}}
