# ensure dotfiles bin directory is loaded first
PATH="$HOME/.bin:/usr/local/sbin:$PATH"

# load rbenv if available
if command -v rbenv >/dev/null; then
  eval "$(rbenv init - --no-rehash)"
fi

# mkdir .git/safe in the root of repositories you trust
PATH=".git/safe/../../bin:$PATH"

export VOLTA_HOME=$HOME/.volta
{{- if eq .chezmoi.os "darwin" }}
export ANDROID_SDK_ROOT=$HOME/Library/Android/sdk
{{- else if eq .chezmoi.os "linux" }}
export ANDROID_SDK_ROOT=$HOME/Android/Sdk
{{- end }}

export PATH="$PATH:$HOME/.bin"
export PATH="$PATH:$HOME/bin"
export PATH="$PATH:$HOME/.local/bin"
export PATH="$PATH:$ANDROID_SDK_ROOT/emulator"
export PATH="$PATH:$ANDROID_SDK_ROOT/platform-tools"
export PATH="$PATH:$(go env GOPATH)/bin"
export PATH="$PATH:$VOLTA_HOME/bin"
export PATH="${ASDF_DATA_DIR:-$HOME/.asdf}/shims:$PATH"

export -U PATH
