{{ if eq .chezmoi.group "matt" }}
# GPG Relay (Win only)

${HOME}/.ssh/win-gpg-agent-relay.sh start
export SSH_AUTH_SOCK=${HOME}/.gnupg/S.gpg-agent.ssh
card | ag --nocolor -o 'rsa4096/FD79F7B533DEACFB' 

export DISPLAY=$(cat /etc/resolv.conf | grep nameserver | awk '{print $2; exit;}'):0.0
sudo /etc/init.d/dbus start &> /dev/null
{{ end }}

# Secrets

{{ if eq .chezmoi.group "matt" }}
export NPM_TOKEN={{ gopass "autovance/npm/read" }}
export GITHUB_TOKEN={{ gopass "github/token/cli" }}
export BW_SESSION={{ gopass "bitwarden/session" }}
export VAULT_ADDR_PRODUCTION={{gopass "autovance/vault/url/production" }}
export VAULT_ADDR_STAGING={{gopass "autovance/vault/url/staging" }}
{{ else if eq .chezmoi.group "codespace" }}
export NPM_TOKEN=$NPM_TOKEN
{{ end }}

# Variables
export VISUAL='nvim'
export EDITOR="$VISUAL"
export TZ_LIST='America/New_York,America/St_Johns,Etc/UTC'

export VOLTA_HOME=$HOME/.volta

SPACESHIP_PACKAGE_SHOW=false
SPACESHIP_DOCKER_SHOW=false
SPACESHIP_VI_MODE_SHOW=false
SPACESHIP_GIT_STATUS_PREFIX=" "
SPACESHIP_GIT_STATUS_SUFFIX=""
SPACESHIP_GIT_STATUS_COLOR="068"
SPACESHIP_AWS_PREFIX=""
SPACESHIP_AWS_SUFFIX=" "

# Path
export PATH="$PATH:$HOME/.local/bin"
export PATH="$PATH:/usr/local/go/bin"
export GOPATH="$HOME/.go"
export PATH="$VOLTA_HOME/bin:$PATH"

# Source

plugins=(git npm aws)
autoload -U +X bashcompinit && bashcompinit
bindkey "^[[3~" delete-char

. ~/.antidote/antidote.zsh
antidote load

. $HOME/.asdf/asdf.sh

SPACESHIP_NODE_DEFAULT_VERSION=$(node --version)

[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# eval $(thefuck --alias)
# export LESS='-XFR'
