# Work
export AWS_PROFILE=vts
export CC=/usr/bin/clang
export CXX=/usr/bin/clang++

export PG_LOCAL={{gopass "vts/pg/local"}}
export CIRCLE_TOKEN={{gopass "vts/circleci/token"}}

# eval "$(rbenv init - zsh)"
