{ config, pkgs, ... }:

{

  imports = [
    ./bat.nix
    ./git.nix
    ./zsh/zsh.nix
    ./editorconfig.nix
  ];

  # Home Manager needs a bit of information about you and the
  # paths it should manage.
  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.homeDir }}";
  home.stateVersion = "22.05";
  programs.home-manager.enable = true;

  nixpkgs.config.allowUnfree = true;
  home.packages = with pkgs; [
    awscli2
    bat
    curl
    deno
    docker
    docker-compose
    docker-credential-gcr
    docker-credential-helpers
    fzf
    gh
    git
    git-extras
    git-revise
    gnupg
    go_1_19
    gopass
    jq
    neovim
    packer
    pgcli
    postgresql
    sampler
    silver-searcher
    socat
    starship
    stow
    terraform
    tz
    vault
    vscode
    wget
    zsh
    circleci-cli
    libclang
    cmake
    gcc
    direnv
    kubectl
    libssh
    k9s
    ffmpeg
    ttyd

    {{- if eq .chezmoi.os "darwin" }}
    pinentry_mac
    {{- end }}

    # Added for work
    {{- if contains "vts" .chezmoi.hostname }}
    redis
    buf
    colima
    grpcurl
    {{- end }}

  ];
}
