{ config, pkgs, ... }:

{
  # Home Manager needs a bit of information about you and the
  # paths it should manage.
  home.username = "{{ .chezmoi.username }}";
  home.homeDirectory = "{{ .chezmoi.homeDir }}";
  home.stateVersion = "22.05";

  programs.home-manager.enable = true;

  home.packages = with pkgs; [
    awscli2
    bat
    curl
    deno
    diff-so-fancy
    docker
    docker-compose
    docker-credential-gcr
    docker-credential-helpers
    fzf
    gh
    git
    git-extras
    git-revise
    gnupg
    go
    gopass
    jq
    neovim
    packer
    pgcli
    pinentry_mac
    postgresql
    sampler
    silver-searcher
    socat
    starship
    stow
    terraform
    tz
    vault
    vscode
    wget
    zsh
  ];

  programs.bat = {
    enable = true;
    config = {
    };
  };
}
